.Chats {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    overflow-y: scroll;
    background: #fff;
    border-left:none;
    border-right: none;
}

.Chat {
    margin: 1rem 0;
    color: #fff;
    padding: 1rem;
    background: #537CFD;
    max-width: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px;
}


.Chat.is_user_msg{
    position: relative;
    margin-left:auto;
    background: #fff;
    color: #7D818C;
    border: 1px solid #D1D6E6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.Chat.Chat.is_user_msg:hover .Chat__close{
    display: inline-block;
}

.Chat__close {
    position: absolute;
    top: 0;
    left:0;
    font-size: 0.7rem;
    border-radius:50%;
    display: none;
    text-align: center;
    line-height: 1.3rem;
    width: 20px;
    height: 20px;
    cursor: pointer;
}


@media (min-width: 850px){
    .Chat {
        max-width: 60%;
        margin-left:10px;
    }

    .Chat.is_user_msg{
        margin-right: 10px;
    }

    .Chats {
        border-left:solid 1px #CFD3DB;
        border-right: solid 1px #CFD3DB;
    }
}