

@media (min-width: 576px){
    .Empty-container{
        width: 90%;
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
        margin-left:40px;
    }
    .Empty-header{
        width: 100%;
        height: 80px;
        background: #FAFBFF;
        border: 1px solid #CFD3DB;
        border-radius: 5px 5px 0px 0px;
        margin-top: 27px;

    }

    .Empty{
        width: 100%;
        background: white;
        height: 530px;
        border: 1px solid #CFD3DB;
        border-top: none;
    }
}